{% load staticfiles %}
<div id="advantages-section" class="anchor"></div>
<section class="advantages container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-block">
                <h3><span>Наши</span> преимущества</h3>

                <div class="advantage">
                    <img class="img-responsive" src="{% static "images/8_years.png" %}">
                    <p>Более 8 лет<br>на рынке</p>
                </div>

                <div class="advantage">
                    <img class="img-responsive" src="{% static "images/timing.png" %}">
                    <p>Соблюдение<br>сроков</p>
                </div>

                <div class="advantage">
                    <img class="img-responsive" src="{% static "images/great_quality.png" %}">
                    <p>Отличное<br>качество</p>
                </div>

                <div class="advantage">
                    <img class="img-responsive" src="{% static "images/high_service.png" %}">
                    <p>Высокий<br>сервис</p>
                </div>

                <div class="advantage advantage-last-mobile">
                    <img class="img-responsive" src="{% static "images/pleasant_discounts.png" %}">
                    <p>Приятные<br>скидки</p>
                </div>
            </div>
        </div>
    </div>
</section>