{% load staticfiles %}

<section class="order-of-work">
    <div class="container-fluid">
        <div class="order-of-work-substrate"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-block">
                    <div class="order-of-work-content">
                        <h3>Порядок <span>работ</span></h3>

                        <ul>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Звонок</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Назначение встречи</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Составление сметы</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Подписание договора</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Закупка материала</li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i> Ремонт</li>
                            <li class="last-li"><i class="fa fa-circle" aria-hidden="true"></i> Подписание акта<br>выполненных работ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>