{% load staticfiles %}
{% load thumbnail %}

<div id="our-works-section" class="anchor"></div>
<section class="our-works">
    <div class="container-fluid">
        <div class="order-of-work-substrate"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-block">
                    <div class="our-works-content">
                        <h3>Наши <span>работы</span></h3>

                        {% if main_images|length >= 4 %}
                            <div class="row row-img-works">
                                {% for image_obj in main_images %}
                                    <div class="image-div
                                        {% if forloop.counter0 == 0 or forloop.counter0 == 1 %}
                                            first-image-div
                                        {% endif %}
                                    ">
                                        <a data-fancybox="main-img" data-options='{"caption" : "{{ image_obj.gallery.name }}"}' href="{{ image_obj.image.url }}">
                                            {% thumbnail image_obj.image 563x320 upscale as image %}
                                            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" class="img-thumbnail thumbnail">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                            {% if galleries|length > 0 %}
                                <div class="row row-btn">
                                    <div class="btn-div
                                        {% if count_videos == 0 %}
                                            btn-none-video
                                        {% endif %}
                                        ">
                                        <button id="open-gallery" data-toggle="modal" data-target="#modalGallery">
                                            <i class="fa fa-picture-o" aria-hidden="true"></i> Посмотреть фото работ
                                        </button>
                                    </div>

                                    {% if count_videos > 0 %}
                                        <div class="btn-div btn-div-video">
                                            <button class="btn-modal-video" id="open-video" data-toggle="modal" data-target="#modalVideo">
                                                <i class="fa fa-play" aria-hidden="true"></i> Посмотреть видео работ
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% else %}
                            <p class="works-is-not">В ближайшее время мы добавим примеры работ</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>