{% load staticfiles %}

<div id="reviews-section" class="anchor"></div>
<section class="reviews">
    <div class="container-fluid">
        <div class="reviews-substrate"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-block">
                    <div class="reviews-content">
                        <h3><span>Отзывы</span> о нас</h3>

                        <div class="row row-reviews">
                            {% if main_reviews|length >= 3 %}
                                {% for review in main_reviews%}
                                    <div class="review
                                        {% if forloop.counter0 == 0 %}
                                            review-first
                                        {% endif %}
                                    ">
                                        <div class="desktop-data">
                                            <div class="review-text">
                                                <p>{{ review.review_text }}</p>
                                            </div>
                                            <div class="user-info">
                                                <hr>
                                                <p class="date-review">{{ review.datetime|date:"d.m.Y H:i" }}</p>
                                                <p class="name-people-review">{{ review.name_user }}</p>
                                                <img class="people-img" src={% static "images/people.png" %}>
                                            </div>
                                        </div>
                                        <div class="mobile-data">
                                            <div class="user-info-mobile">
                                                <p>{{ review.name_user }}</p>
                                            </div>

                                            <div class="review-text-mobile">
                                                <p>{{ review.review_text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="action-reviews">
                            {% if reviews|length > 3 %}
                                <button class="view-review text-center" data-toggle="modal" data-target="#modalAllReviews">Посмотреть все отзывы</button>
                            {% endif %}
                            <button class="write-review" data-toggle="modal" data-target="#modalWriteReviews">Написать отзыв</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>