{% load staticfiles %}

<div id="services-section" class="anchor"></div>
<section class="services container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-block">
                <h3><span>Наши</span> услуги</h3>

                <div class="service">
                    <p>Ремонт<br>"под ключ"</p>
                    <img class="img-responsive" src="{% static "images/turnkey_repair.png" %}">
                </div>

                <div class="service">
                    <p>Ремонт<br>"по частям"</p>
                    <img class="img-responsive" src="{% static "images/repair_parts.png" %}">
                </div>

                <div class="service">
                    <p>Подбор<br>материалов</p>
                    <img class="img-responsive" src="{% static "images/selection_materials.png" %}">
                </div>
            </div>
        </div>
    </div>
</section>