{% load staticfiles %}

<section class="to-order">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="to-order-content">
                        <p>оставить заявку на бесплатную<br>консультацию и составление сметы</p>
                        <button data-toggle="modal" data-target="#modalApplication">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>