{% load staticfiles %}
{% load thumbnail %}

<div class="modal fade" data-backdrop="static" id="modalGallery" tabindex="-1" role="dialog" aria-labelledby="modalGalleryLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Наши <span>работы</span></h3>
            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modal-body-gallery">
            <div class="work-items gallery-items">
                <i class="fa fa-cog fa-spin fa-fw"></i>
            </div>
        </div>
    </div>
  </div>
</div>