{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png'%}"/>

        <title>{% block title %}{% endblock %}</title>
        {% compress css %}
            <link href="{% static 'packages/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'packages/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'packages/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">
            <link href="{% static 'styles/header.sass' %}" rel="stylesheet" type="text/x-sass" />
            <link href="{% static 'styles/footer.sass' %}" rel="stylesheet" type="text/x-sass" />
            <link href="{% static 'styles/modal/main.sass' %}" rel="stylesheet" type="text/x-sass" />
            <link href="{% static 'styles/modal/gallery.sass' %}" rel="stylesheet" type="text/x-sass" />
            <link href="{% static 'styles/modal/application.sass' %}" rel="stylesheet" type="text/x-sass" />
            <link href="{% static 'styles/modal/reviews.sass' %}" rel="stylesheet" type="text/x-sass" />
            <link href="{% static 'styles/modal/video.sass' %}" rel="stylesheet" type="text/x-sass" />
            {% block styles %}
            {% endblock %}
        {% endcompress %}

        {% block head_js %}

        {% endblock %}

    </head>

    <body>

        {% include "header.html" %}

        {% csrf_token %}
        {% block content %}
        {% endblock %}

        {% include "modal/gallery/gallery_modal.html" %}
        {% include "modal/application.html" %}
        {% include "modal/reviews/write_reviews.html" %}
        {% include "modal/reviews/all_reviews.html" %}

        {% if count_videos > 0 %}
            {% include "modal/video/video_modal.html" %}
        {% endif %}


        {% if page_history is not True %}
            {% include "footer.html" %}
        {% endif %}

        {% compress js %}
            <script src="{% static 'packages/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'packages/bootstrap4/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'packages/fancybox/jquery.fancybox.min.js' %}"></script>
            <script src="{% static 'packages/anchor.min.js' %}"></script>
            <script src={% static 'js/main.js' %}></script>
            <script src={% static 'js/menu.js' %}></script>
            <script src={% static 'js/open_gallery.js' %}></script>
            <script src={% static 'js/application.js' %}></script>
            <script src={% static 'js/create_reviews.js' %}></script>
            <script src={% static 'js/open_video.js' %}></script>
            {% block js %}
            {% endblock %}
        {% endcompress %}
    </body>
</html>