{% load staticfiles %}

<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="social-networks footer-data">
                <a href="{{ settings_site.vk_link }}" target="_blank">
                    <img class="social-img first-social-img" src={% static "images/vk.png" %}>
                </a>
                <a href="{{ settings_site.youtube_link }}" target="_blank">
                    <img class="social-img" src={% static "images/yutube.png" %}>
                </a>
                <a href="{{ settings_site.twitter_link }}" target="_blank">
                    <img class="social-img" src={% static "images/tw.png" %}>
                </a>
                <a href="{{ settings_site.google_plus_link }}" target="_blank">
                    <img class="social-img" src={% static "images/gplus.png" %}>
                </a>
            </div>
            <div class="all-link footer-data">
                <ul class="menu-footer menu-anchor">
                    <li class="item item-footer" data-type="item-main"><a class="items-menu" href="#main-section">Главная</a></li>
                    <li class="item item-footer" data-type="item-advantages"><a class="items-menu" href="#advantages-section">О компании</a></li>
                    <li class="item item-footer" data-type="item-services"><a class="items-menu" href="#services-section">Услуги</a></li>
                    <li class="item item-footer" data-type="item-our-works"><a class="items-menu" href="#our-works-section">Работы</a></li>
                    <li class="item item-footer" data-type="item-reviews-section"><a class="items-menu" href="#reviews-section">Отзывы</a></li>
                </ul>
            </div>
            <div class="logo-phone footer-data">
                <a class="link-mobile-logo" href="/">
                    <img class="logo-footer" src={% static "images/logo.png" %}>
                </a>
                <a class="phone-footer" href="tel:{{ settings_site.number_phone_one }}">{{ settings_site.number_phone_one }}</a>
                <a class="phone-footer phone-footer-two" href="tel:{{ settings_site.number_phone_two }}">{{ settings_site.number_phone_two }}</a>
                <a class="email-footer" href="mailto:{{ settings_site.email }}">{{ settings_site.email }}</a>
            </div>
        </div>
    </div>
</footer>