{% load staticfiles %}

<header>
    <div class="container-fluid">
        <div class="container">
            <a href="/">
                <img class="img-responsive logo" src="{% static "images/logo.png" %}">
            </a>

            <ul class="menu-desktop menu-anchor">
                <li class="item active item-main"><a class="items-menu" href="#main-section">Главная</a></li>
                <li class="item item-advantages"><a class="items-menu" href="#advantages-section">О компании</a></li>
                <li class="item item-services"><a class="items-menu" href="#services-section">Услуги</a></li>
                <li class="item item-our-works"><a class="items-menu" href="#our-works-section">Работы</a></li>
                <li class="item item-reviews-section"><a class="items-menu" href="#reviews-section">Отзывы</a></li>
            </ul>
            <a class="header-desktop-phone" href="tel:{{ settings_site.number_phone_one }}">{{ settings_site.number_phone_one }}</a>
            <a class="header-desktop-phone" href="tel:{{ settings_site.number_phone_two }}">{{ settings_site.number_phone_two }}</a>
            <i class="fa fa-list" aria-hidden="true"></i>
            <i class="fa fa-times none" aria-hidden="true"></i>
        </div>
        <ul class="menu-mobile none menu-anchor">
            <li class="item-mobile active item-main"><a class="items-menu" href="#main-section">Главная</a></li>
            <li class="item-mobile item-advantages"><a class="items-menu" href="#advantages-section">О компании</a></li>
            <li class="item-mobile item-services"><a class="items-menu" href="#services-section">Услуги</a></li>
            <li class="item-mobile item-our-works"><a class="items-menu" href="#our-works-section">Работы</a></li>
            <li class="item-mobile item-reviews-section"><a class="items-menu" href="#reviews-section">Отзывы</a></li>
            <a class="phone-mobile" href="tel:{{ settings_site.number_phone_one }}">{{ settings_site.number_phone_one }}</a>
            <a class="phone-mobile" href="tel:{{ settings_site.number_phone_two }}">{{ settings_site.number_phone_two }}</a>
        </ul>
    </div>
</header>