{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Ваш ремонт{% endblock %}

{% block styles %}
    <link href="{% static 'styles/base.sass' %}" rel="stylesheet" type="text/x-sass" />
    <link href="{% static 'styles/index/main.sass' %}" rel="stylesheet" type="text/x-sass" />
    <link href="{% static 'styles/index/advantages.sass' %}" rel="stylesheet" type="text/x-sass" />
    <link href="{% static 'styles/index/order_of_work.sass' %}" rel="stylesheet" type="text/x-sass" />
    <link href="{% static 'styles/index/services.sass' %}" rel="stylesheet" type="text/x-sass" />
    <link href="{% static 'styles/index/to_order.sass' %}" rel="stylesheet" type="text/x-sass" />
    <link href="{% static 'styles/index/our_works.sass' %}" rel="stylesheet" type="text/x-sass" />
    <link href="{% static 'styles/index/reviews.sass' %}" rel="stylesheet" type="text/x-sass" />
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% include "index_div/main.html" %}
    {% include "index_div/advantages.html" %}
    {% include "index_div/order_of_work.html" %}
    {% include "index_div/services.html" %}
    {% include "index_div/to_order.html" %}
    {% include "index_div/our_works.html" %}
    {% include "index_div/reviews.html" %}
{% endblock %}